<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>App Kebudyaan Lobar</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>app_kebudyaan_lobar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- Deskripsi Izin Lokasi -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Aplikasi membutuhkan lokasi Anda untuk menampilkan peta cagar budaya terdekat.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Aplikasi membutuhkan lokasi untuk fitur navigasi cagar budaya.</string>

	<!-- Deskripsi Izin Kamera & Galeri -->
	<key>NSCameraUsageDescription</key>
	<string>Aplikasi membutuhkan akses kamera untuk mengambil foto profil atau dokumentasi budaya.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aplikasi membutuhkan akses galeri untuk memilih foto profil.</string>

	<!-- Deskripsi Izin Mikrofon & Pengenalan Suara (PENTING) -->
	<key>NSMicrophoneUsageDescription</key>
	<string>Aplikasi memerlukan akses mikrofon agar Anda dapat bertanya menggunakan suara pada fitur Pemandu Budaya AI.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Aplikasi memerlukan izin pengenalan suara untuk mengubah ucapan Anda menjadi teks pada fitur Pemandu Budaya AI.</string>

	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>